.app {
  height: 100vh;
  padding: 2.4rem;
  position: relative;
  background-color: rgb(245, 245, 245);
  flex: 1;
}
.layout {
  height: 100%;
  width: 100%;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.outlet {
  flex: 1;
  /* box-shadow: inset -1px 2px 8px 1px rgb(0, 0, 0, 0.2); */
}
